[Unit]
Description=Report mysql Status to Etcd
BindsTo=mysql@%i.service
After=mysql@%i.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/database/mysql@%i '{ \"host\": \"%H\", \"port\": 1433, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/database/mysql@%i

[X-Fleet]
MachineOf=mysql@%i.service