[Unit]
Description=Report MSSQL Status to Etcd
BindsTo=mssql@%i.service
After=mssql@%i.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/database/mssql@%i '{ \"host\": \"%H\", \"port\": 1433, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/database/mssql@%i

[X-Fleet]
MachineOf=mssql@%i.service